<h2>Ezeket szeretnénk megvenni:</h2>
<modal-component></modal-component>
<form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
  <table class="col-8">
    <tr>
      <th>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" notnull ngModel />
      </th>
      <th>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" notnull ngModel />
      </th>

      <th>
        <button type="submit">Add</button>
      </th>
    </tr>
  </table>
</form>

<table class="col-8">
  <tr *ngFor="let item of newList">
    <th>
      {{ item.id }}
    </th>
    <th>
      {{ item.name }}
    </th>
    <th>
      {{ item.price }}
    </th>
    <th>
      <button (click)="deleteItem(item)">
        X
      </button>
    </th>
    <th>
      <button (click)="buy(item)">pipa</button>
    </th>
  </tr>
</table>

<br />
<h2>Ezeket már megvettük:</h2>
<table class="col-8">
  <tr *ngFor="let item of boughtList">
    <th>
      {{ item.id }}
    </th>
    <th>
      {{ item.name }}
    </th>
    <th>
      {{ item.price }}
    </th>
    <th>
      <button (click)="deleteItem(item)">
        X
      </button>
    </th>
  </tr>
</table>
